<footer class="site-footer">

  <div class="wrapper">



    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <h2>Contact</h2>
          <li>
            <p>gmail:leif.fredrickson</p>
          </li>
          <li>
            <p>github:<a href="https://github.com/leiffredrickson">leiffredrickson</a></p>
          </li>
          <li>
            <p>twitter:<a href="https://twitter.com/leiffredrickson">leiffredrickson</a></p>
          </li>
        </ul>
      </div>




  </div>

</footer>
