---
layout: default
---

<div class="home">
  <div style="background-color: #E9D4D7">
  <hr style="color:#B3C8B3; background-color:#B3C8B3; border: solid 0px #B3C8B3;height:3px">
  <p style="padding-left:15px; padding-right:8px">I am an environmental historian, but I write about lots of things here. This is my personal website. Check out my (forthcoming) website, <a href="http://www.enviro-history.com">Enviro-History</a>, for a more polished, public-oriented website about environmental history.</p>
  <hr style="color:#B3C8B3; background-color:#B3C8B3; border: solid 0px #B3C8B3;height:1px">
  </div>
  <br>
  <div>
    <h1 class="page-heading">Recent Posts</h1>


    {{ content }}

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <span class="post-meta">{{ post.date | date: date_format }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            <p style="font-size:16px">{{ post.excerpt }}</p>
          </h2>
        </li>
      {% endfor %}
    </ul>
  </div>

  <br>

</div>
