---
layout: default
---

<div class="home">

  <p>Chewing the cud about history, the environment, social inequality, cities, policy, maps and data.</p>

  <h1 class="page-heading">Recent Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {{ post.excerpt }}
    </ul>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <div class="home">
  <h2 class="footer-heading">Short Bio</h2>
  <p>I am an environmental historian, but I write about lots of things here. This is my personal website. Visit my other website, <a href="http://www.enviro-history.com">Enviro-History</a>, for a more polished, public-oriented website about environmental history. For more about me, see the <a href=/about/>About</a> page. </p>
  </div>

</div>
